<section class="home">
        <div class="home-content">
            <h1>Hi, I am Kuldeep Jadhav</h1>
            <h3>The Graphic Deginer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum sapiente, deserunt temporibus ut amet numquam exercitationem, cupiditate repudiandae veniam velit enim ducimus sint eius minima officiis voluptatibus ullam assumenda inventore voluptatum dignissimos? Sapiente, veritatis.</p>
            <div class="btn-box">
                <a href="#">Hire Me</a>
                <a href="#">Let`s Talk</a>
            </div>
        </div>
    </section>